#body {
  background-color: #eaeadb;
}
#medForm {
  background-color: #f7f7ed;
}
input {
  width: 100%;
}
#medTime {
  width: 30%;
}
#saveBtn {
  width: 30%;
}
#delBtn {
  float: right;
}
#cancelIcon {
  font-size: 30px;
  padding: 20px;
}
