#body {
    background-color: #eaeadb;
  }
  
  /**/
  #apptForm {
    background-color: #f7f7ed;
  }
  
  /*cancel icon top left*/
  #back-button {
    font-size: 30px;
    padding: 15px;
  }
  
  /*delete btn*/
  #delete-button {
    float: right;
  }
  
  /* ------------------- google translate ------------------- */
  #goog-gt-tt {
    display: none !important;
  }
  .VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none !important;
  }
  #google_translate_element {
    display: none !important;
  }