/* -------------------- med cards styling -------------------- */
#card 
{
  background-color: #00FFE8;
}
#med-desc 
{
  width: 50%;
}
#dosage-amt 
{
  width: 25%;
  position: absolute;
  top: 10%;
  padding: 2%;
  right: 10%;
  background-color: #FF6900;
  color: #000000;
}

/* -------------------- addMed button styling -------------------- */
#addMedBtn 
{
  width: 80%;
  height: 5%;
  position: fixed;
  bottom: 100px;
  z-index: 1;
  background-color: black;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: white; 
}


/* -------------------- footer styling -------------------- */
.footer 
{
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  background-color: #0096ff;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a 
{
  text-decoration: none;
}
.navBarLinks 
{
  text-align: center;
  flex: 1;
}
.navBarIcons 
{
  margin-top: 10px;
  width: 20%;
}

/* -------------------- google translate banner styling -------------------- */
.VIpgJd-ZVi9od-ORHb-OEVmcd 
{
  display: none !important;
}



