#card {
    background-color: rgb(179, 236, 236);
  }
  #addMedBtn {
    width: 80%;
    position: fixed;
    bottom: 100px;
    z-index: 1;
  }
  
  #med-desc {
    width: 50%;
  }
  
  #dosage-amt {
    width: 25%;
    position: absolute;
    top: 10%;
    padding: 2%;
    right: 10%;
    background-color: brown;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    background-color: #0096ff;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    text-decoration: none;
  }
  
  .navBarLinks {
    text-align: center;
    flex: 1;
  }
  .navBarIcons {
    margin-top: 10px;
    width: 20%;
  }
  .VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none !important;
  }