#body {
  background-color: #eaeadb;
}

h1 {
  text-align: center;
}
#language-container {
  background-color: #f7f7ed;
}

#engButton,
#chiButton,
#malayButton,
#tamilButton {
  margin-top: 20px;
  padding: 10px;
}

/*back to profile button*/
#backToHomeBtn {
  margin-top: 20px;
  width: 80%;
  padding: 10px;
}

/* ------------------- google translate ------------------- */
#goog-gt-tt {
  display: none !important;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}
#google_translate_element {
  display: none !important;
}
