#saveLanguageBtn {
    width: 80%;
    position: fixed;
    bottom: 100px;
    z-index: 1;
  }
  
  /*for google translate banner*/
  #goog-gt-tt {
    display: none !important;
  }
  .VIpgJd-ZVi9od-ORHb-OEVmcd {
    display: none !important;
  }
  #google_translate_element {
    display: none !important;
  }