/* overall styling for this page - same as index.css */
body 
{
    justify-content: center;
    align-items: center;
    background-color:white;
    /* background-image:linear-gradient(to bottom, #A7A7A7 0%, #E4E4E4 51%); */
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width:100%;
}
h1 
{
    font-size:24px;
    font-weight:normal;
    overflow:visible;
    padding:0px;
    text-align:center;
}



/* --------------------------------------- styling buttons ----------------------------------------------- */
.closeButton
{
    display: inline-block;
    width: 65px; 
    height: 65px;
    border-radius: 50%; 
    text-align: center;
    line-height: 65px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    flex-shrink: 0; 
    border: 2px solid black; 
    box-sizing: border-box; 
    background-color: #FF0096; 
    color: black; 
}
.button
{
    display: flex;
    justify-content: space-between;
}


/* --------------------------------------- align images  ----------------------------------------------- */
.medImage 
{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    max-width: 75%; 
    margin: 0 auto; 
}=
.medImage img 
{
    max-width: 100%; 
    margin: 0 10px; 
}

/* ---------------------------------------  styling textbox  ----------------------------------------------- */
.medInfoText
{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 75%; 
    margin: 0 auto; 
}