/*body styling*/
#body {
  background-color: #eaeadb;
}

/* ------------------- cancel icon styling ------------------- */
#cancelIcon {
  font-size: 30px;
  padding: 20px;
}

/* ------------------- profile image styling ------------------- */
#profileImg {
  width: 40px;
}

i {
  padding: 10px;
}

/* ------------------- change & delete buttons styling ------------------- */
.btn-danger:hover {
  background-color: #e08a8c;
}
.close {
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
}

/* ------------------- google banner ------------------- */
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}
