/* ------------------- cancel icon styling ------------------- */
#cancelIcon 
{
  font-size: 30px;
  padding: 20px;
}

/* ------------------- profile image styling ------------------- */
#profileImg 
{
  width: 40px;
}

/* ------------------- blue buttons styling ------------------- */
.card {
  margin-top: 3rem;
  background-color: #0096ff;
  width: 75%;  
  height: 5%; 
  border-radius: 10px;
}

.card-header h2 
{
  position: relative;
  color: white;
  text-align: center; 
  line-height: 100px; 
  height: 100px; 
}
i 
{
  padding: 10px;
}

/* ------------------- change & delete buttons styling ------------------- */
.btn-danger:hover  
{
  background-color: #e08a8c;
}
.close 
{
  border: none;
  background-color: transparent;
}
a 
{
  text-decoration: none;
}

/* ------------------- google banner ------------------- */
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}
