body
{
  margin-bottom: 100px!important;
}

/* ------------------- total appointments styling ------------------- */
#totalApptCard {
  background-color: white !important;
  border: 2px solid black;
  border-radius: 10px;
  width: 75%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------- legend styling ------------------- */
/* #legend
{
  background-color: white !important;
  border-radius: 10px; 
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100px;
  text-align: center; 
  color: black; 
  font-weight: bold;
}
#upcomingApptBox 
{
  background-color: rgb(255, 127, 80) !important;
  border-radius: 10px; 
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100px;
  text-align: center; 
  color: white; 
  font-weight: bold; 
}
#missedApptBox 
{
  background-color: rgb(255, 127, 80) !important;
  border-radius: 10px; 
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100px;
  text-align: center; 
  color: white; 
  font-weight: bold; 
} */

/* ------------------- appointment cards styling ------------------- */
.card-body
{
  width: 75%;
}
.card-title
{
  font-weight: bold;
}
#upcomingAppt, #missedAppt 
{
  background-color: rgb(255, 127, 80) !important;
  color: white; 
}
.apptStatus
{
  background-color: white !important;
  border: 2px solid black;
  border-radius: 10px;
  width: 75%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ------------------- appointment info styling ------------------- */
.apptInfo 
{
  display: flex;
  align-items: center; 
}
#apptStatus 
{
  flex: 1; 
  margin: 0;
}
#editButton
{
  background-color: #0096ff!important;
  width: 20%;
  margin-left: 10px;
}
#deleteButton
{
  background-color: #0096ff!important;
  width: 20%;
  margin-left: 10px; 
}
#rescheduleButton
{
  background-color: #0096ff!important;
  width: 20%;
  margin-left: 10px; 
}

/* ------------------- createNewAppt styling ------------------- */
.btn-success 
{
  width: 80%;
  height: 5%;
  position: fixed;
  bottom: 100px;
  z-index: 1;
  background-color: black;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: white; 
}

/* ------------------- footer styling ------------------- */
.footer 
{
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  background-color: #0096ff;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a 
{
  text-decoration: none;
}
.navBarLinks 
{
  text-align: center;
  flex: 1;
}
.navBarIcons 
{
  margin-top: 10px;
  width: 20%;
}

/* ------------------- google translate styling ------------------- */
.VIpgJd-ZVi9od-ORHb-OEVmcd 
{
  display: none !important;
}
#goog-gt-tt 
{
  display: none !important;
}