#body {
  background-color: #eaeadb;
  overflow-y: hidden;
}

/* ------------------- total appointments styling ------------------- */
#totalApptCard {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  width: 75%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#upcoming-appts {
  color: #198754;
}
#missed-appts {
  color: red;
}

/* ------------------- createNewAppt styling ------------------- */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#addApptBtn {
  width: 75%;
  color: white;
  background-color: #198754;
  font-weight: bold;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
}

/*appointment-list container*/
#appt-list {
  max-height: 65vh;
  overflow-y: auto;
  padding-bottom: 40%;
}

/* ------------------- appointment cards styling ------------------- */

.card-body {
  width: 100%;
}
.card-title {
  font-weight: bold;
}
#apptDateTime {
  width: 100%;
}
#upcoming {
  font-weight: bold;
  color: #198754;
}
#missed {
  font-weight: bold;
  color: red;
}
#upcomingAppt,
#missedAppt {
  background-color: #f7f7ed;
  color: black;
  width: 100%;
}
#apptStatus {
  color: black;
  font-weight: bold;
  width: 100%;
  margin-bottom: 0;
}

#editButton,
#deleteButton {
  margin-top: 10px;
  width: 20%;
}

/* ------------------- footer styling ------------------- */
.footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  width: 100%;
  background-color: #0096ff;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}
.navBarLinks {
  text-align: center;
  flex: 1;
}
.navBarIcons {
  margin-top: 10px;
  width: 20%;
}

/* ------------------- google translate styling ------------------- */
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}
#goog-gt-tt {
  display: none !important;
}